@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Monoton|Pacifico|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans+Condensed:300|Unica+One');
body{
	font-family: 'Open Sans Condensed'
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    }
h1{
	font-family:'Fredericka the Great';
	font-size: 55px;
	text-align:center;
	
}
div{
	position: fixed;
	text-align: right;
}

a{
	font-family:'Open Sans Condensed';
	font-size: 42px;
	display: block;
	width: 113px;
	margin: auto;
}

